#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp C_VOL_UP      &kp C_VOL_DOWN      &kp C_PLAY_PAUSE
                &kp LCTRL C       &kp LCTRL V         &kp ENTER
            >;
        };
    };
};