#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "CODE";
// ----------------------------------------------
// |      C      |        V       |      X      |
// |    &to 1    |   UNDO LEFT    |    Enter    |
            bindings = <
                &kp LC(C)    &kp LC(V)       &kp LC(X)
                &to 1        &kp LC(Z)       &kp ENTER
            >;
        };
        abc { // Layer 1
            display-name = "AUDIO";
// ----------------------------------------------
// |      U      |       D       |      NXT     |
// |    &to 0    |    &cprev     |     &playp   |
            bindings = <
                &kp C_VOLUME_UP     &kp C_VOLUME_DOWN     &kp C_NEXT
                &to 0           &kp C_PREV          &kp C_PP
            >;
        };
    };

    macros {
        email_macro: email_macro {
            compatible = "zmk,behavior-macro";
            label = "EMAIL";
            #binding-cells = <0>;
            bindings = <
                &kp A &kp O &kp I &kp S &kp H &kp I &kp K
                &kp K &kp H &kp A &kp N
                &kp AT
                &kp G &kp M &kp A &kp I &kp L
                &kp DOT
                &kp C &kp O &kp M
            >;
        };
    };

    combos {
        compatible = "zmk,combos";

        // --- Bootloader Hold Combo ---
        bootloader_combo {
            timeout-ms = <3000>;
            require-prior-idle-ms = <200>;
            key-positions = <0 5>;
            bindings = <&bootloader>;
        };

        // --- Layer 0 Email Combo ---
        email_combo {
            timeout-ms = <50>;
            key-positions = <0 1>;
            layers = <0>;
            bindings = <&email_macro>;
        };

        // --- Layer 0 Combo: 1 + 2 → Ctrl+Y ---
        layer0_ctrl_y {
            timeout-ms = <50>;
            key-positions = <1 2>;
            layers = <0>;
            bindings = <&kp LC(Y)>;
        };

        // --- Layer 1 Combo: 0 + 1 → Mute ---
        layer1_mute {
            timeout-ms = <50>;
            key-positions = <0 1>;
            layers = <1>;
            bindings = <&kp C_MUTE>;
        };
    };
};